@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

/*  imagem de fundo */
html {
    background-image: url(/assets/images/background-image.svg);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-color: rgba(0, 0, 0, 1);

    background-size: cover;
}

/* Barra de navegação */
#navBar {
    margin-bottom: 80px;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 0px;
    margin-left: 36%;
    font-family: 'inter';
    font-weight: bold;


}

#navBar a:hover {
    transform: scale(1.1);
    transition: 0.2s;

}

#search {
    margin-left: 200px;
    margin-top: 20px;
    position: relative;

}


/* Menu Hamburguer */
.submit-lente {
    position: relative;
    top: -25px;
    right: 0;
    margin-left: 5px;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
    color: white;

}

.submit-lente:hover {
    transform: scale(1.2);
}

.submit-line {
    position: relative;
    width: 200px;


}

.submit-line input {
    width: 100%;
    color: white;
    font-family: 'inter';
    padding-left: 40px;
}

#menu__toggle {
    opacity: 0;
}


#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 30px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;

}

.menu__btn>span::after {
    content: '';
    top: 8px;

}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(19, 6, 6, 0.4);
    box-shadow: 2px 2px 6px rgba(27, 27, 27, 0.4);
    transition-duration: 0.3s;
    font-family: 'inter';
}

.menu__item {
    margin-top: 30px;
    display: block;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: 'inter';
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.3s;
    text-align: center;
}

.menu__item:hover {
    transform: scale(1.2);
}


#entrar {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: 'inter';
    font-weight: 700;

    margin-top: 30px;
    margin-bottom: 30px;
}



#entrar h1 {
    margin: 0;
}

/* form */
section {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

}

input {
    font-size: 15px;
    padding-left: 10px;



}

input::placeholder {
    color: white;
    font-family: 'inter';
}


a {
    text-decoration: none;
    color: white;
}



.text-intermediario {
    color: white;
    display: flex;

    justify-content: center;
    font-family: 'inter';
    font-weight: 400;
    size: 29px;
}

form {
    align-items: flex-start;
    flex-direction: column;
    border: none;
    padding: 10px;
    font-family: 'inter';
}

form input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 25px;
    height: 30px;
    background-color: rgba(19, 16, 16, 0.8);
    font-family: 'inter';
    border: none;


}




form label {
    margin: 10px;
    font-family: 'inter';
    font-size: 20px;
    font-style: normal;
}


#formHBO form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: white;


}

/* Buttons */

#buttonEnter {
    width: 150px;
    height: 40px;
    margin-top: 35px;
    background: #8C77E0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: 'inter';
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    align-items: center;

}

#buttonEnter:hover {
    transition: 2s;
    background: linear-gradient(-90deg, #e66fc4 0%, #A18CD1 100%);

}


#prov {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'inter';
    font-weight: 400;
    size: 10px;
}

#prov button {
    width: 300px;
    height: 40px;
    margin-top: 35px;
    background: #8C77E0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: 'inter';
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
}


#prov button:hover {
    transition: 2s;
    background: linear-gradient(-90deg, #e66fc4 0%, #A18CD1 100%);

}

#footerText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

/* 480px // Extra small screen
768px // Small screen
992px // Medium screen
1200px // Large screen
1600px // Extra Large screen
1900px // Extra Large screen */

@media screen and (max-width: 1001px) {
    html {
        background-position: center;
    }


}



@media screen and (max-width: 768px) {
    html {
        background-position: center;



    }

    @media screen and (max-width: 375px) {
        html {
            background-position: center;
        }

        #navBar {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            margin-top: 0px;
            margin-left: 0;
        }

        form input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            border-radius: 25px;
            height: 30px;
            background-color: #7F7F7F;
            font-family: 'inter';

        }


    }

}

@media screen and (max-width: 415px) {
    html {
        background-position: center;
    }

    #navBar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin-top: 5px;
        margin-left: 0;
        ;
    }

    form input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        border-radius: 25px;
        height: 30px;
        background-color: rgba(19, 16, 16, 0.8);
        font-family: 'inter';
        border: none;

    }


}